.vscode
.dockerignore
.flake8
.gitignore
.isort.cfg
pytest.ini
README.md
docs/
output/
src/output/
tests/
data.json
calendars.json
events.json
recent_unique_events.json
logger.log
logger_archive.log
tasks.py
