gcalcli @ git+https://github.com/tpantsar/gcalcli.git
Flask
flask-restful
flask-cors
google-api-python-client
google-auth-oauthlib
google-auth
InquirerPy
typeguard
gunicorn
waitress
parsedatetime
babel
python-dateutil
pytest
invoke
ruff