.event-table {
  min-width: 1180px;
  table-layout: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.event-table th,
.event-table td {
  border: 1px solid #ddd;
  padding: 12px;
  overflow: hidden; /* Ensures text does not overflow */
  text-overflow: ellipsis; /* Adds ellipsis for overflowing text */
  white-space: nowrap; /* Prevents text from wrapping */
  /*min-width: 150px;*/
}

.event-table th {
  background-color: #539455;
  color: white;
  text-align: left;
}

.event-table tr:nth-child(even) {
  background-color: #414141;
}

.event-table tr:hover {
  background-color: #6d6d6d;
}

.icon-trashcan {
  color: red;
  cursor: pointer;
  padding-right: 10px;
}

.icon-arrow {
  color: #61dafb;
  cursor: pointer;
  padding-right: 10px;
}

.summary-text {
  cursor: pointer;
  color: white; /* Default color */
}

.summary-text:hover {
  color: #61dafb; /* Hover color */
}