.event-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.event-table th,
.event-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.event-table th {
  background-color: #539455;
  color: white;
  text-align: left;
}

.event-table tr:nth-child(even) {
  background-color: #414141;
}

.event-table tr:hover {
  background-color: #6d6d6d;
}

.icon-trashcan {
  color: red;
  cursor: pointer;
  padding-right: 10px;
}

.icon-arrow {
  color: #61dafb;
  cursor: pointer;
  padding-right: 10px;
}